@using Cryptology.Domain.Enum;
@using Cryptology.Domain.ViewModels;
@model CaesarViewModel;

@{
    ViewData["Title"] = "Caesar Cypher";
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>Caesar Cypher</h1>

            <form asp-controller="Cyphers" asp-action="CaesarCypher" enctype="multipart/form-data">
                <div class="form-group mt-3">
                    <label asp-for="Key">Key</label>
                    <input asp-for="Key" type="number" class="form-control" value="@Model.Key" required>
                </div>

                <div class="form-group mt-3">
                    <label asp-for="Text">Text</label>
                    <input asp-for="Text" type="text" class="form-control" value="@Model.Text">
                </div>
                <div class="form-group mt-3">
                    <label asp-for="Encrypted">Encrypted</label>
                    <input asp-for="Encrypted" type="text" class="form-control" value="@Model.Encrypted">
                </div>
                <div class="form-group mt-3">
                    <label asp-for="Decrypted">Decrypted</label>
                    <input asp-for="Decrypted" type="text" class="form-control" value="@Model.Decrypted" readonly>
                </div>

                <button type="submit" name="action" value="Encrypt" class="btn btn-outline-primary mt-3 mr-2">Encrypt</button>
                <button type="submit" name="action" value="Decrypt" class="btn btn-primary mt-3 mr-2">Decrypt</button>
                <button type="submit" name="action" value="BruteForce" class="btn btn-danger mt-3 mr-2">Brute Force</button>
                <input asp-for="OpenFile" type="file" class="btn btn-outline-primary mt-3" style="margin-left: 25px;">
                <button type="submit" name="action" value="OpenFile"
                        class="btn btn-outline-dark mt-3 mr-2" style="margin-left: 512px;">Confirm File</button>
                <button type="submit" name="action" value="SaveFile"
                        class="btn btn-outline-success" style="margin-left: 412px; margin-top: -65px;">Save File</button>
                <button type="submit" name="action" value="FrequencyTable"
                        class="btn btn-outline-secondary" style="margin-left: 302px; margin-top: -115px;">Frequency</button>

                <div style="margin-top: -25px; display: flex; align-items: center; justify-content: space-between;">
                    <div style="display: flex; flex-direction: column;">
                        <label>Original Image</label>
                        <input asp-for="InputImage" type="file" class="btn btn-outline-primary" style="width: 275px;">
                        <button type="submit" name="action" value="EncryptImage" class="btn btn-outline-primary" style="margin-top: 10px;">Encrypt</button>
                    </div>

                    <div style="display: flex; flex-direction: column;">
                        <label>Encrypted Image</label>
                        <input asp-for="EncryptedImage" type="file" class="btn btn-primary" style="width: 320px;">
                        <button type="submit" name="action" value="DecryptImage" class="btn btn-primary" style="margin-top: 10px;">Decrypt</button>
                    </div>
                </div>

            </form>
        </div>

        <div class="col-md-6">
            @if (Model.BruteForced != null && Model.BruteForced.Any())
            {
                <div>
                    <h2>Brute Forced Results:</h2>
                    <ul>
                        @foreach (var result in Model.BruteForced)
                        {
                            if (result == Model.Text)
                            {
                                <li class="text-danger">@result - Answer</li>
                            }
                            else
                            {
                                <li>@result</li>
                            }
                        }
                    </ul>
                </div>
            }
        </div>

        <div class="col-md-4 mt-5">
            @if (Model != null && Model.FrequencyTable.Any())
            {
                <div>
                    <h2>Frequency Table:</h2>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Character</th>
                                <th>Frequency</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var kvp in Model.FrequencyTable)
                            {
                                <tr>
                                    <td>@kvp.Key</td>
                                    <td>@kvp.Value</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
        </div>

    </div>
</div>
